$white: rgba(255, 255, 255, 1);
$alabaster: rgba(250, 250, 250, 1);
$curious-blue: rgba(29, 140, 209, 1);
$international-orange: rgba(250, 87, 5, 1);
$black: rgba(0, 0, 0, 1);
$waxflower: rgba(255, 201, 173, 1);